{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
    :root{
        --bg: {{ theme_vars.bg }};
        --card: {{ theme_vars.card }};
        --text: {{ theme_vars.text }};
        --muted: {{ theme_vars.muted }};
        --accent: {{ theme_vars.accent }};
        --border: {{ theme_vars.border }};
    }
    </style>
  <title>Simple Gym Tracker</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<div class="container">
  <nav class="nav">
    <span class="brand">Simple Gym Tracker</span>

    {% if user.is_authenticated %}
      <a class="pill accent" href="{% url 'dashboard' %}">Dashboard</a>
      <a class="pill" href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a class="pill accent" href="{% url 'login' %}">Login</a>
      <a class="pill" href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
  </nav>

  {% block content %}{% endblock %}
</div>

</body>
</html>
